<div class="container">
  <div class="inquiry-index">
    <h2>お問い合わせフォーム</h2>
    <div class="inquiry-index-form">
    <%= form_with model: @inquiry, url: confirm_path, method: :post, class: "form", local: true do |f| %>
    <%= render "layouts/errors", obj: @inquiry %>
      
      <div class="mandatory">*は必須項目です</div>
      
      <dt>Name(お名前)<span class="text-danger">*</span></dt>
      <dd><%= f.text_field :name %></dd>

      <dt>Email(メールアドレス)<span class="text-danger">*</span></dt>
      <dd><%= f.text_field :email %></dd>

      <dt>Message(お問い合わせ内容)<span class="text-danger">*</span></dt>
      <dd><%= f.text_area :message %></dd>

      <dd><%= f.submit '確認画面へ', class: 'btn btn-success btn-lg' %></dd>
    <% end %>
    </div>
  </div>
</div>