<div class="container">
  <div class="share-your-pic-main">
    <h1 id="share-your-pic-main">Share Your Pic On Here!!</h1>
    <div class="posts-index">
      <% posts.each do |post| %>
      <div class="post">
        <div>
        <%= link_to post_path(post) do %>
          <%= attachment_image_tag post, :image, class: "img", fallback: "no-image.png", size:"300x300" %>
        <% end %>
        </div>
      <div class="post-title">
        <%= post.title %>
      </div>
      <% if customer_signed_in? %>
      <div id="post_<%= post.id %>" style="display: inline-block;">
        <%= render "publics/favorites/favorite-btn", post: post %>
      </div>
      <%= link_to customer_path(post.customer) do %>
      <div class="user-icon">
        <i class="fas fa-user"></i>
      </div>
      <% end %>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>