<div class="container">
  <h2>ハワイの魅力を投稿しよう！</h2>
  <%= form_with model: @post, local: true do |f| %>
  <div class="row">
    <div class="col-xs-5">
      <div class="post_image">
		    <%= attachment_image_tag @post, :image, class: "img", fallback: "no-image.png", size:"400x300" %>
				<%= f.attachment_field :image %>
  		</div>
    </div>

    <div class="col-xs-7">
      <dt>タイトル</dt>
      <dd><%= f.text_field :title, class: "form-control", placeholder: "50文字以内" %></dd>

      <dt>説明</dt>
      <dd><%= f.text_area :explanation, class: "form-control", placeholder: "300文字以内" %></dd>

      <ht>ジャンル</dt>
      <dd><%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt: "選択してください"}) %></dd>

      <dd><%= f.submit "新規投稿する", class: "btn btn-primary" %></dd>
    </div>
  <% end %>
  </div>
</div>
