<div class="container">
<h2>投稿詳細</h2>
<div class="row">
    <div class="col-xs-7">
		<%= attachment_image_tag @post, :image, class: "img", fallback: "no-image.png", size:"500x500" %>
    </div>

    <div class="col-xs-5">
      <h4>投稿者<h4>
      <p><%= link_to @customer.name, customer_path(@post.customer) %>　さん</p>

      <h4>タイトル</h4>
      <p><%= @post.title %></p>

      <h4>説明</h4>
      <p><%= @post.explanation %></p>

      <h4>ジャンル</h4>
      <p><%= @post.genre.name %></p>

      <% if @customer == current_customer %>
      <%= link_to "投稿を編集する", edit_post_path, class: "btn btn-primary"%>
      <%= link_to "投稿を削除する", post_path, method: :delete, class: "btn btn-danger" %>
      <% end %>
      <div class="favorite-btn">
        <%= render "publics/favorites/favorite-btn", post: @post %>
      </div>
    </div>
  </div>
  <div class="post_comment">
  <%= render "publics/comments/comment", customer: @customer, post: @post, comment: @comment %>
  </div>
  <%= form_with model:[@post, @comment] do |f| %>
    <%= f.text_area :comment, size:"50x2" %>
    <%= f.submit "コメントをする", class: "btn btn-primary comment" %>
  <% end %>
</div>