<% @page_title = "SNS" %>
<div class="container">
  <div class="sns-container">
    <h2>Social Media</h2>
    <%= image_tag "sns.jpg", class: "sns-image" %>
    <div class="sns-icon">
    <div class="sns-icon-list">
      <%= link_to "https://twitter.com/" do %>
      <div class="twitter">
        <i class="fab fa-twitter-square"></i><span>Twitter</span>
      </div>
      <% end %>
      <%= link_to "https://www.facebook.com/" do %>
      <div class="facebook">
        <i class="fab fa-facebook-square"></i><span>Facebook</span>
      </div>
      <% end %>
      <%= link_to "https://www.instagram.com/" do %>
      <div class="instagram">
        <i class="fab fa-instagram-square"></i><span>Instagram</span>
      </div>
      <% end %>
      <%= link_to "https://www.youtube.com/" do %>
      <div class="youtube">
        <i class="fab fa-youtube"></i><span>Youtube</span>
      </div>
      <% end %>
      <%= link_to "https://github.co.jp/" do %>
      <div class="github">
        <i class="fab fa-github-square"></i><span>Github</span>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
