<h2>コメント一覧<span>(コメント数　<%= post.comments.count %>件)</span></h2>
    <% if post.comments.exists? %>
    <div class="comment-index">
    <table class="table">
      <thead>
        <tr>
          <th>お名前</th>
          <th>コメント</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% post.comments.each do |comment| %>
        <tr>
          <td>
            <%= link_to customer_path(customer) do %>
              <%= comment.customer.name %>
  	        <% end %>
  	      </td>
  		    <td id="comment_comment">
  		      <%= Rinku.auto_link(comment.comment, :all, 'target="_blank"').html_safe %>
  		    </td>
          <td>
            <% if comment.customer == current_customer %>
              <%= link_to "コメントを削除", post_comment_path(comment.post, comment), method: :delete, remote: true, class: "btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <% else %>
      <p>コメントはまだありません...</p>
    <% end %>
