<% @page_title = "管理者側 カスタマー編集" %>
<div class="container">
  <div class="admins-customer">
    <h2>会員編集</h2>
    <div class="admins-customer-form">
      <%= form_with model: @customer, url: admins_customer_path, class: 'form', local: true do |f| %>
        <%= render "layouts/errors", obj: @customer %>
      
        <dt>プロフィール写真</dt>
        <div class="preview_image">
          <%= attachment_image_tag @customer, :profile_image, size:"150x150", fallback: "no-image.png", class: "image" %>
          <%= f.attachment_field :profile_image, class: "add-img-btn"%>
        </div>

        <dt>お名前</dt>
        <dd><%= f.text_field :name, autofocus: true, autocomplete: "name" %></dd>

        <dt>メールアドレス</dt>
        <% if @customer.email == "guest@guest.com" %>
          <%= @customer.email %>
        <% else %>
          <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>
        <% end %>

        <dt>お住いの地域</dt>
        <dd>
          <%= f.radio_button :country, "日本", checked: true %>  日本  <%= f.radio_button :country, "ハワイ" %>  ハワイ
          <%= f.radio_button :country, "アメリカ本土" %>  アメリカ本土　<%= f.radio_button :country, "その他の国" %>  その他の国
        </dd>

        <dt>生年月日</dt>
        <dd><%= f.date_select :birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 0), default: Date.new(1989, 1, 1) %></dd>

        <dt>ハワイへの渡航歴</dt>
        <dd>
          <%= f.radio_button :visit_time, "なし", checked: true %>  なし  <%= f.radio_button :visit_time, "１～３回" %>  １～３回
          <%= f.radio_button :visit_time, "４～６回" %>  ４～６回　<%= f.radio_button :visit_time, "６回以上" %>  ６回以上
        </dd>

        <dt>会員ステータス</dt>
        <dd><%= f.radio_button :is_deleted, "有効" %>　有効　<%= f.radio_button :is_deleted, "退会済み" %>　退会済み</dd>

        <div class="customer-signup-btn">
          <%= f.submit "変更する", class: "btn btn-success btn-lg" %>
        </div>

      <% end %>
    </div>
  </div>
</div>