<% @page_title = "管理者側 投稿編集" %>
<div class="container">
  <div class="edit-admins-post">
    <h2>投稿編集</h2>
    <div class="edit-admins-post-form">
      <%= form_with model: @post, url: admins_post_path, class: "form", local: true do |f| %>
      <%= render "layouts/errors", obj: @post %>

        <dt>投稿写真</dt>
        <div class="preview_image">
          <%= attachment_image_tag(@post, :image, size:"300x250", fallback: "no-image.png", class: "image") %>
          <%= f.attachment_field :image %>
        </div>

        <dt>タイトル</dt>
        <dd><%= f.text_field :title, autofocus: true, autocomplete: "title" %></dd>

        <dt>説明</dt>
        <dd><%= f.text_area :explanation, autofocus: true, autocomplete: "explanation", size:"70" %></dd>

        <dt>ジャンル</dt>
        <dd><%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt: "選択してください"}) %></dd>

        <dd><%= f.submit "編集する", class: "btn btn-success btn-lg" %></dd>
      <% end %>
    </div>
  </div>
</div>
