<% if @customer_or_post == "1" %>
  <% @page_title = "会員情報の検索結果" %>
  <% if @customers.exists? %>
    <div class="container">
      <h2>会員情報の検索結果</h2>
      <div class="searchs-index">
        <table class="table">
          <thead>
      		  <tr>
      			  <th>プロフィール写真</th>
      			  <th>お名前</th>
      				<th>お住いの地域</th>
      		  	<th>ハワイへの渡航歴</th>
      		  	<th style="width: 10%;"></th>
      			</tr>
      		</thead>
          <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= attachment_image_tag(@customer, :profile_image, :fill, 100, 100, size:"50x50", fallback: "no-image.png") %></td>
              <td><%= customer.name %></td>
              <td><%= customer.country %></td>
              <td><%= customer.visit_time %></td>
              <td><%= link_to "詳細へ", customer_path(customer), class: "btn btn-success" %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
        <div class="paginate">
          <%= paginate @customers %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <h2>会員情報の検索結果</h2>
      <div class="searchs-index">
        <table class="table">
          <thead>
      		  <tr>
      			  <th>プロフィール写真</th>
      			  <th>お名前</th>
      				<th>お住いの地域</th>
      		  	<th>ハワイへの渡航歴</th>
      		  	<th style="width: 10%;"></th>
      			</tr>
      		</thead>
        </table>
        <p>検索結果はありませんでした...</p>
      </div>
    </div>
  <% end %>

<% elsif @customer_or_post == "2" %>
  <% @page_title = "投稿情報の検索結果" %>
  <% if @posts.exists? %>
    <div class="container">
      <h2>投稿情報の検索結果</h2>
    </div>
    <%= render 'publics/posts/index', posts: @posts, post: @post %>
    <div class="paginate">
      <%= paginate @posts %>
    </div>
  <% else %>
    <div class="container">
      <h2>投稿情報の検索結果</h2>
      <p>検索結果はありませんでした...</p>
    </div>
  <% end %>
<% end %>