<div class="container">
  <div class="admin-session">
    <h2>管理者ログイン</h2>
    <div class="admin-sessions-form">
      <%= form_with model: @admin, url: new_admin_session_path, class: "form", local: true do |f| %>
      
      <div class="mandatory">*は必須項目です</div>

      <dt>メールアドレス<span class="text-danger">*</span></dt>
      <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>

      <dt>パスワード<span class="text-danger">*</span></dt>
      <dd><%= f.password_field :password, autocomplete: "current-password" %></dd>

      <div class="admin-login-btn">
        <%= f.submit "ログイン", class: "btn btn-success btn-lg" %>
      </div>

      <%= render "admins/shared/links" %>

      <%= link_to "企業様ログイン(閲覧用)", admins_guest_sign_in_path, method: :post, class: "btn btn-warning btn-lg" %>
      <% end %>

    </div>
  </div>
</div>