<div class="container">
  <div class="admin-session">
    <h2>管理者ログイン</h2>
    <div class="admin-sessions-form">

      <%= form_with model: @admin, url: new_admin_session_path, class: "form", local: true do |f| %>

      <dt><%= f.label :"メールアドレス" %></dt>
      <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>

      <dt><%= f.label :"パスワード" %></dt>
      <dd><%= f.password_field :password, autocomplete: "current-password" %></dd>

      <div class="admin-login-btn">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>

      <%= render "admins/shared/links" %>
      <% end %>

    </div>
  </div>
</div>