<% @page_title = "マイページ編集" %>
<div class="container">
  <div class="edit-customer">
    <h2>マイページ編集</h2>
    <div class="edit-customer-form">
      <%= form_with model: @customer, class: "form", local: true do |f| %>
        <%= render "layouts/errors", obj: @customer %>

        <dt>プロフィール写真</dt>
        <div class="preview_image">
          <%= attachment_image_tag(@customer, :profile_image, size:"150x150", fallback: "no-image.png", class: "image") %>
          <%= f.attachment_field :profile_image, class: "add-img-btn"%>
        </div>

        <dt>お名前</dt>
        <dd><%= f.text_field :name, autofocus: true, autocomplete: "name" %></dd>

        <dt>メールアドレス</dt>
        <dd><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>

        <dt>お住いの地域</dt>
        <dd>
          <%= f.radio_button :country, "日本", checked: true %>  日本  <%= f.radio_button :country, "ハワイ" %>  ハワイ
          <%= f.radio_button :country, "アメリカ本土" %>  アメリカ本土　<%= f.radio_button :country, "その他の国" %>  その他の国
        </dd>

        <dt>生年月日</dt>
        <dd><%= f.date_select :birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 0), default: Date.new(1989, 1, 1) %></dd>

        <dt>ハワイへの渡航歴</dt>
        <dd>
          <%= f.radio_button :visit_time, "なし", checked: true %>  なし  <%= f.radio_button :visit_time, "１～３回" %>  １～３回
          <%= f.radio_button :visit_time, "４～６回" %>  ４～６回　<%= f.radio_button :visit_time, "６回以上" %>  ６回以上
        </dd>

        <dd><%= f.submit "編集する", class: "btn btn-success btn-lg" %></dd>
        <dd><%= link_to "パスワード変更はこちら", edit_customer_registration_path, class: "btn btn-info" %></dd>
        <%= link_to "退会する", withdraw_path(@customer), method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
