<% @page_title = "カスタマー詳細" %>
<div class="container">
	<div class="customer-show">
		<h2><%= @customer.name %>さんの会員情報</h2>
		<div class="row">
			
			<div class="col-xs-3">
				<table class="table">
					<div class="show-profile_image">
						<%= attachment_image_tag @customer, :profile_image, size:"150x150", fallback: "no-image.png" %>
					</div>
					<tr>
						<th>お名前</th>
						<td><%= @customer.name %></td>
					</tr>
					<tr>
						<th>お住いの地域</th>
						<td><%= @customer.country %></td>
					</tr>
					<tr>
						<th>ハワイへの渡航歴</th>
						<td><%= @customer.visit_time %></td>
					</tr>
					<tr>
						<th><%= link_to "フォロー", customer_followings_path(@customer) %></th>
						<td><%= @customer.followings.count %></td>
					</tr>
					<tr>
						<th><%= link_to "フォロワー", customer_followers_path(@customer) %></th>
						<td class="followers-count"><%= @customer.followers.count %></td>
					</tr>
				</table>
				<div class="follow-btn">
					<%= render 'publics/relationships/follow_form', customer: @customer %>
				</div>
				<br>
				<% if current_customer == @customer %>
					<%= link_to "マイページを編集する", edit_customer_path(current_customer.id), class: "btn btn-success btn-block"%>
					<%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-danger btn-block" %>
				<% end %>
			</div>

			<% if @posts.exists? %>
				<div class="col-xs-9">
					<h3><%= @customer.name %>さんが投稿した写真</h3>
					<div class="posts-index-all">
			  		<% @posts.each do |post| %>
			  			<%= link_to post_path(post) do %>
			    			<%= attachment_image_tag post, :image, class: "img", fallback: "no-image.png", size:"200x200" %>
			    		<% end %>
			    	<% end %>
					</div>
					<div class="paginate">
						<%= paginate @posts %>
					</div>
				</div>
			<% else %>
				<div class="col-xs-9">
					<h3><%= @customer.name %>さんが投稿した写真</h3>
					<p style="font-size:25px;">投稿した写真はまだありません...</p>
				</div>
			<% end %>
		</div>	
	</div>
</div>