<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= favicon_link_tag "logo.jpg" %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e35fc03a93.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <title><%= page_title %></title>
    </head>
    <body>
    <header>
      <div class="admins-header">
        <nav>
          <% if admin_signed_in? %>
            <%= link_to root_path, style: "text-decoration:none" do %>
              <%= image_tag "logo.jpg", class: "header-logo" %>
            <% end %>
            <%= link_to "Top", admins_top_path, class: "header-tab" %>
            <%= link_to "Genre", admins_genres_path, class: "header-tab" %>
            <%= link_to "Customers", admins_customers_path, class: "header-tab" %>
            <%= link_to "Posts", admins_posts_path, class: "header-tab" %>
            <%= link_to "My Page", edit_admins_admin_path(current_admin), class: "header-tab" %>
            <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "header-tab" %>
          <% else %>
            <%= link_to root_path, style: "text-decoration:none" do %>
              <%= image_tag "logo.jpg", class: "header-logo" %>
            <% end %>
            <%= link_to "管理者側ログイン", new_admin_session_path, class: "header-tab" %>
            <%= link_to "会員側ログイン", new_customer_session_path, class: "header-tab" %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="background-img">
      <div class="container-lg">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "flash flash__#{key}") %><% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>