<div class="container">
  <div class="edit-registrations-customers">
    <h2>パスワード変更</h2>
    <div class="edit-registrations-customers-form">
      <%= form_with model: @customer, url: customer_registration_path, class: "form", local: true do |f| %>

        <div class="mandatory">*は必須項目です</div>
        
        <dt>現在のパスワード<span class="text-danger">*</span></dt>
        <dd><%= f.password_field :current_password, autocomplete: "current-password" %></dd>

        <dt>新しいパスワード(6文字以上)<span class="text-danger">*</span></dt>
        <dd><%= f.password_field :password, autocomplete: "new-password" %></dd>

        <dt>新しいパスワード(確認用)<span class="text-danger">*</span></dt>
        <dd><%= f.password_field :password_confirmation, autocomplete: "new-password" %></dd>

        <div class="actions">
          <%= f.submit "更新する", class: "btn btn-success btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
