<% @page_title = "新規登録" %>
<div class="container">
  <div class="registrations-customer">
    <h2>新規会員登録</h2>
    <div class="registrations-customer-form">
      <%= form_with model: @customer, url: customer_registration_path, class: 'form', local: true do |f| %>
        <%= render "layouts/errors", obj: @customer %>
        
        <div class="mandatory">*は必須項目です</div>
        
        <dt>お名前<span class="text-danger">*</span></dt>
        <dd><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ハワイ太郎" %></dd>

        <dt>メールアドレス<span class="text-danger">*</span></dt>
        <dd><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "hawaii@gmail.com" %></dd>

        <dt>お住いの地域<span class="text-danger">*</span></dt>
        <dd>
          <%= f.radio_button :country, "日本", checked: true %>  日本  <%= f.radio_button :country, "ハワイ" %>  ハワイ
          <%= f.radio_button :country, "アメリカ本土" %>  アメリカ本土　<%= f.radio_button :country, "その他の国" %>  その他の国
        </dd>

        <dt>生年月日<span class="text-danger">*</span></dt>
        <dd><%= f.date_select :birthday, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 0), default: Date.new(1989, 1, 1) %></dd>

        <dt>ハワイへの渡航歴<span class="text-danger">*</span></dt>
        <dd>
          <%= f.radio_button :visit_time, "なし", checked: true %>  なし  <%= f.radio_button :visit_time, "１～３回" %>  １～３回
          <%= f.radio_button :visit_time, "４～６回" %>  ４～６回　<%= f.radio_button :visit_time, "６回以上" %>  ６回以上
        </dd>

        <dt>パスワード(6文字以上)<span class="text-danger">*</span></dt>
        <dd>
          <%= f.password_field :password, autocomplete: "new-password" %></dd>

        <dt>パスワード(確認用)<span class="text-danger">*</span></dt>
        <dd><%= f.password_field :password_confirmation, autocomplete: "new-password" %></dd>

        <div class="customer-signup-btn">
          <%= f.submit "新規登録する", class: "btn btn-success btn-lg" %>
        </div>

        <div class="sns-login">
          <p>SNSで新規登録する</p>
          <%= link_to "", customer_facebook_omniauth_authorize_path, class: "fab fa-facebook-square" %>
          <%= link_to "", customer_google_oauth2_omniauth_authorize_path, class: "fab fa-google" %><br>
        </div>
        
        <div class="guest-btn">
          <%= link_to "ゲストログイン(閲覧用)", customers_guest_sign_in_path, method: :post, class: "btn btn-warning btn-lg" %>
        </div>

        <div class="login-info">既に登録済みの方</div>
        <div><%= link_to "こちら", new_customer_session_path, class: "btn btn-info" %> からログインしてください。</div>
      <% end %>
    </div>
  </div>
</div>
