<footer>
  <div class="footer-nav">
    <div class="footer-links">
      <p><%= link_to "管理者様はこちらから", new_admin_session_path %><br></p>
      <p><%= link_to "お問い合わせ(ログイン必須)", inquiry_path %></p>
      <p><%= link_to "参考資料", reference_links_path %></p>
    </div>
    <div class="footer-name">
      <%= image_tag "logo.jpg" %><br>
      <p>Copyright © 2020 Go to Hawaii All Rights Reserved.</p>
    </div>
    <div class="footer-sns">
      <div class="sns-icon-list">
        
        <%= link_to "https://twitter.com/" do %>
          <div class="twitter">
            <i class="fab fa-twitter-square"></i>
          </div>
        <% end %>
        
        <%= link_to "https://www.facebook.com/" do %>
          <div class="facebook">
            <i class="fab fa-facebook-square"></i>
          </div>
        <% end %>
        
        <%= link_to "https://www.instagram.com/" do %>
          <div class="instagram">
            <i class="fab fa-instagram-square"></i>
          </div>
        <% end %>
        
        <%= link_to "https://www.youtube.com/" do %>
          <div class="youtube">
            <i class="fab fa-youtube"></i>
          </div>
        <% end %>
        
        <%= link_to "https://github.co.jp/" do %>
          <div class="github">
            <i class="fab fa-github-square"></i>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</footer>