<!DOCTYPE html>
<html>
  <head>
    <title>GoToHawaii</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <title>Go To Hawaii</title>
  </head>
  <body>
    <div class="container-lg">
    <%= yield %>
    </div>
  </body>
</html>
